@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Share+Tech&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #4B0082;
    --cor-hover: #272727;

    --fonte-primaria: 'Share Tech Mono', monospace;
    --fonte-secundaria: 'Bree Serif', serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-image: linear-gradient(to right, black, #0a0011, #19002b);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;

}

.cabecalho-menu {
    display: flex;
    gap: 80px;


}

.cabecalho-menu-link {
 font-family: var(--fonte-secundaria);
 font-size: 1.375rem;
 font-weight: 600;
 color:var(--cor-terciaria);
 text-decoration: none;

}

.conteudo-de-fato {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo_conteudo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);

}

.informacao {
    font-size: 1.375rem;
    font-family: var(--fonte-secundaria);
}

.redes-sociais {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px
}

.link-direto {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    font-size: 1.25rem;
    padding: 16.5px 0;
    text-decoration: none;
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);

}

.logo-insta-link {
    width: 7%;
    height: 7%;
}

.link-direto:hover {
    background-color: var(--cor-hover);
}

.imagem-principal {
    width: 30%;
}

.rodape {
   padding: 24px;
    color: var(--cor-primaria);
   background-color: var(--cor-terciaria);
   text-align: center;
   font-family: var(--fonte-secundaria);
   font-size: 1.375rem;
   font-weight: 400;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10% 10% 4% 10%;
    
    }

    .cabecalho-menu {
        justify-content: center;

    }

    .conteudo-de-fato {
        flex-direction: column-reverse;
        padding: 5%;
    
    }

    .conteudo {
        width: auto;

    }

    .imagem-principal {
        width: 40%;
    }

}